/* Dark mode */
div.phpdebugbar[data-theme='dark'],
div.phpdebugbar-openhandler[data-theme='dark'] {
    --color-gray-100: #F7FAFC;
    --color-gray-200: #EDF2F7;
    --color-gray-300: #E2E8F0;
    --color-gray-400: #CBD5E0;
    --color-gray-500: #A0AEC0;
    --color-gray-600: #718096;
    --color-gray-700: #4A5568;
    --color-gray-800: #252a37;
    --color-gray-900: #18181b;
    --color-red-vivid: #eb4432;

    --color-background: var(--color-gray-800);
    --color-text: var(--color-gray-100);
    --color-text-muted: var(--color-gray-600);
    --color-border: var(--color-gray-600);

    --color-header:var(--color-gray-900);
    --color-header-text: var(--color-gray-200);
    --color-header-border: var(--color-gray-800);

    /*--color-active: #444;*/
    /*--color-active-text: #e0e0e0;*/

    --color-icons: var(--color-header-text);
    --color-badge: #fff;
    --color-badge-text: var(--color-red-vivid);

    --color-badge-active: var(--color-red-vivid);
    --color-badge-active-text: #fff;

    --color-link: var(--color-gray-500);
    --color-hover: var(--color-gray-400);
    --color-hover-bg: var(--color-gray-300);

    --color-header-hover: var(--color-gray-700);
    --color-background-alt: var(--color-gray-900);
}

div.phpdebugbar[data-theme="dark"] ul.phpdebugbar-widgets-timeline li span.phpdebugbar-widgets-label {
    text-shadow: 1px 1px #000;
}

div.phpdebugbar[data-theme="dark"] div.phpdebugbar-panel div.phpdebugbar-widgets-status > span:first-child:before,
div.phpdebugbar-openhandler[data-theme="dark"] table th,
div.phpdebugbar-openhandler[data-theme="dark"] .phpdebugbar-openhandler-actions > a,
div.phpdebugbar-openhandler[data-theme="dark"] .phpdebugbar-openhandler-actions button,
div.phpdebugbar-openhandler[data-theme="dark"] .phpdebugbar-openhandler-actions > form input,
div.phpdebugbar-openhandler[data-theme="dark"] .phpdebugbar-openhandler-actions > form select {
    text-shadow: 1px 1px var(--color-gray-700);
}

div.phpdebugbar[data-theme="dark"] div.phpdebugbar-header {
    text-shadow: none;
}

div.phpdebugbar-openhandler[data-theme="dark"] {
    border-top-color: var(--color-red-vivid);
}

