parameters:
	ignoreErrors:
		-
			message: '#^Call to static method make\(\) on an unknown class Laravel\\Telescope\\IncomingEntry\.$#'
			identifier: class.notFound
			count: 1
			path: src/DataCollector/RequestCollector.php
