parameters:
	ignoreErrors:
		-
			message: '#^Instantiated class Laravel\\Telescope\\Storage\\EntryQueryOptions not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controllers/TelescopeController.php

		-
			message: '#^Parameter \$storage of method Barryvdh\\Debugbar\\Controllers\\TelescopeController\:\:show\(\) has invalid type Laravel\\Telescope\\Contracts\\EntriesRepository\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controllers/TelescopeController.php

		-
			message: '#^Call to static method listen\(\) on an unknown class Livewire\\Livewire\.$#'
			identifier: class.notFound
			count: 2
			path: src/DataCollector/LivewireCollector.php

		-
			message: '#^Parameter \$component of anonymous function has invalid type Livewire\\Component\.$#'
			identifier: class.notFound
			count: 1
			path: src/DataCollector/LivewireCollector.php

		-
			message: '#^Call to static method make\(\) on an unknown class Laravel\\Telescope\\IncomingEntry\.$#'
			identifier: class.notFound
			count: 1
			path: src/DataCollector/RequestCollector.php

		-
			message: '#^Class Livewire\\Mechanisms\\ComponentRegistry not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/DataCollector/RequestCollector.php

		-
			message: '#^Class Livewire\\Mechanisms\\ComponentRegistry not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/DataCollector/RouteCollector.php
