includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    paths:
        - src
    tmpDir: build/phpstan
    excludePaths:
        - 'src/Twig'
        - 'src/Controllers/TelescopeController.php'
        - 'src/DataCollector/LivewireCollector.php'
        - 'src/DataCollector/PennantCollector.php'
        - 'src/LumenServiceProvider.php'
