<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         failOnNotice="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
  <testsuites>
    <testsuite name="Laravel Debugbar Test Suite">
      <directory>tests/DataCollector</directory>
      <directory>tests/DataFormatter</directory>
      <file>tests/DebugbarBrowserTest.php</file>
      <file>tests/DebugbarTest.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
      <text outputFile="build/coverage.txt"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="build/report.junit.xml"/>
  </logging>
  <php>
    <env name="DEBUGBAR_ENABLED" value="true"/>
    <env name="DB_CONNECTION" value="testing"/>
    <ini name="xdebug.file_link_format" value="vscode://file/%f:%l"/>
  </php>

</phpunit>
