// === colors ===
:root {
    // accent colors
    --vp-c-accent: #eb4432;
    --vp-c-accent-bg: #800;
    --vp-c-accent-hover: #eb4432;
    --vp-c-accent-text: var(--vp-c-white);
    --vp-c-accent-soft: rgb(16 185 129 / 14%);

}
