div.phpdebugbar {
    font-size: 13px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

div.phpdebugbar-header {
    background: #efefef url(laravel-icon.png) no-repeat 4px 3px;
    line-height: 17px;
}
a.phpdebugbar-restore-btn {
    background: #efefef url(laravel-icon.png) no-repeat 5px 3px;
    width: 16px;
}

div.phpdebugbar-header > div > * {
    font-size: 13px;
}

div.phpdebugbar-header .phpdebugbar-tab {
    padding: 5px 6px;
}

div.phpdebugbar .phpdebugbar-header select{
    padding: 1px 0;
}

dl.phpdebugbar-widgets-kvlist dt{
    width: 200px;
}

dl.phpdebugbar-widgets-kvlist dd {
    margin-left: 210px;
}
