div.phpdebugbar-openhandler-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    z-index: 20000;
}

div.phpdebugbar-openhandler {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 70%;
    background: #fff;
    border: 2px solid #888;
    overflow: auto;
    z-index: 20001;
    font-family: arial;
    font-size: 14px;
    padding-bottom: 10px;
}
    div.phpdebugbar-openhandler .header {
        background: #efefef url(php-icon.png) no-repeat 5px 4px;
        padding-left: 29px;
        min-height: 26px;
        line-height: 25px;
        color: #555;
        margin-bottom: 10px;
    }
        div.phpdebugbar-openhandler .header a {
            font-size: 14px;
            color: #555;
            text-decoration: none;
            float: right;
            padding: 5px 8px;
        }
    div.phpdebugbar-openhandler table {
        width: 100%;
        font-size: 14px;
    }
        div.phpdebugbar-openhandler table td {
            padding: 6px 3px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
    div.phpdebugbar-openhandler .actions {
        text-align: center;
        padding: 7px 0;
    }
        div.phpdebugbar-openhandler .actions a {
            margin: 0 10px;
            color: #555;
        }