
ul.phpdebugbar-widgets-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: monospace;
}
  ul.phpdebugbar-widgets-list li.list-item {
    padding: 3px 6px;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  ul.phpdebugbar-widgets-list li.list-item:hover {
    background: #fafafa;
  }

/* -------------------------------------- */

div.phpdebugbar-widgets-messages {
  position: relative;
  height: 100%;
}
  div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-list {
    padding-bottom: 20px;
  }
  div.phpdebugbar-widgets-messages li.list-item span.value.warning:before {
    font-family: FontAwesome;
    content: "\f071";
    margin-right: 8px;
    font-size: 11px;
    color: #ecb03d;
  }
  div.phpdebugbar-widgets-messages li.list-item span.value.error {
    color: red;
  }
  div.phpdebugbar-widgets-messages li.list-item span.value.error:before {
    font-family: FontAwesome;
    content: "\f057";
    margin-right: 8px;
    font-size: 11px;
    color: red;
  }
  div.phpdebugbar-widgets-messages li.list-item span.collector,
  div.phpdebugbar-widgets-messages li.list-item span.label {
    float: right;
    font-size: 12px;
    padding: 2px 4px;
    color: #888;
    margin: 0 2px;
    text-decoration: none;
    text-shadow: none;
    background: none;
    font-weight: normal;
  }
  div.phpdebugbar-widgets-messages li.list-item span.collector {
    color: #555;
    font-style: italic;
  }
  div.phpdebugbar-widgets-messages div.toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
  }
    div.phpdebugbar-widgets-messages div.toolbar input {
      border: 0;
      margin: 0;
      margin-left: 7px;
      width: 50%;
      box-shadow: none;
    }
    div.phpdebugbar-widgets-messages div.toolbar input:focus {
      outline: none;
    }
      div.phpdebugbar-widgets-messages div.toolbar a.filter {
        float: right;
        font-size: 12px;
        padding: 2px 4px;
        background: #7cacd5;
        margin: 0 2px;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
      }
      div.phpdebugbar-widgets-messages div.toolbar a.filter.excluded {
        background: #eee;
        color: #888;
      }

/* -------------------------------------- */

dl.phpdebugbar-widgets-kvlist {
  margin: 0;
}
  dl.phpdebugbar-widgets-kvlist dt {
    float: left;
    width: 140px;
    padding: 5px;
    border-top: 1px solid #eee;
    font-weight: bold;
    clear: both;
  }
  dl.phpdebugbar-widgets-kvlist dd {
    margin-left: 150px;
    padding: 5px;
    border-top: 1px solid #eee;
    cursor: pointer;
  }

/* -------------------------------------- */

dl.phpdebugbar-widgets-varlist {
  font-family: monospace;
}

/* -------------------------------------- */

ul.phpdebugbar-widgets-timeline {
  margin: 0;
  padding: 0;
  list-style: none;
}
  ul.phpdebugbar-widgets-timeline li {
    height: 20px;
    position: relative;
    border-bottom: 1px solid #eee;
  }
  ul.phpdebugbar-widgets-timeline li:hover {
    background: #fafafa;
  }
    ul.phpdebugbar-widgets-timeline li span.label {
      position: absolute;
      font-size: 12px;
      font-family: monospace;
      color: #555;
      top: 4px;
      left: 5px;
      background: none;
      text-shadow: none;
      font-weight: normal;
    }
    ul.phpdebugbar-widgets-timeline li span.value {
      display: block; 
      position: absolute;
      height: 10px;
      background: #3db9ec;
      top: 5px;
      border-radius: 2px;
    }

/* -------------------------------------- */

div.phpdebugbar-widgets-exceptions li.list-item {
  cursor: pointer;
}
  div.phpdebugbar-widgets-exceptions li.list-item span.message {
    display: block;
    color: red;
  }

  div.phpdebugbar-widgets-exceptions li.list-item span.filename {
    display: block;
    font-style: italic;
    color: #555;
  }

  div.phpdebugbar-widgets-exceptions li.list-item span.type {
    display: block;
    position: absolute;
    right: 4px;
    top: 4px;
    font-weight: bold;
  }

  div.phpdebugbar-widgets-exceptions li.list-item span.file {
    display: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    font-family: monospace;
  }

/* -------------------------------------- */

div.phpdebugbar-widgets-sqlqueries .status {
  font-family: monospace;
  padding: 6px 6px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: #555;
  background: #fafafa;
}

div.phpdebugbar-widgets-sqlqueries li.list-item.error {
  color: red;
}

div.phpdebugbar-widgets-sqlqueries span.duration,
div.phpdebugbar-widgets-sqlqueries span.memory,
div.phpdebugbar-widgets-sqlqueries span.row-count,
div.phpdebugbar-widgets-sqlqueries span.stmt-id {
  float: right;
  margin-left: 8px;
  color: #888;
}
div.phpdebugbar-widgets-sqlqueries div.status span.duration,
div.phpdebugbar-widgets-sqlqueries div.status span.memory,
div.phpdebugbar-widgets-sqlqueries div.status span.row-count,
div.phpdebugbar-widgets-sqlqueries div.status span.stmt-id {
  color: #555;
}
div.phpdebugbar-widgets-sqlqueries span.duration:before,
div.phpdebugbar-widgets-sqlqueries span.memory:before,
div.phpdebugbar-widgets-sqlqueries span.row-count:before,
div.phpdebugbar-widgets-sqlqueries span.stmt-id:before {
  font-family: FontAwesome;
  margin-right: 4px;
  font-size: 12px;
}
div.phpdebugbar-widgets-sqlqueries span.duration:before {
  content: "\f017";
}
div.phpdebugbar-widgets-sqlqueries span.memory:before {
  content: "\f085";
}
div.phpdebugbar-widgets-sqlqueries span.row-count:before {
  content: "\f0ce";
}
div.phpdebugbar-widgets-sqlqueries span.stmt-id:before {
  content: "\f08d";
}
div.phpdebugbar-widgets-sqlqueries table.params {
  display: none;
  width: 70%;
  margin: 10px;
  border: 1px solid #ddd;
  font-family: monospace;
  border-collapse: collapse;
}
  div.phpdebugbar-widgets-sqlqueries table.params td {
    border: 1px solid #ddd;
    text-align: center;
  }
  div.phpdebugbar-widgets-sqlqueries table.params .name {
    width: 20%;
    font-weight: bold;
  }

div.phpdebugbar-widgets-sqlqueries li.list-item span.error {
  display: block;
  font-weight: bold;
}

/* -------------------------------------- */

div.phpdebugbar-widgets-templates div.status {
  font-family: monospace;
  padding: 6px 6px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: #555;
  background: #fafafa;
}

div.phpdebugbar-widgets-templates span.render_time {
  float: right;
}
div.phpdebugbar-widgets-templates span.render_time:before {
  content: "\f017";
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 4px;
}

div.phpdebugbar-widgets-templates div.status span.render_time {
  color: #555;
}


/* -------------------------------------- */

div.phpdebugbar-widgets-mails span.subject {
  display: block;
}

div.phpdebugbar-widgets-mails li.list-item pre.headers {
  display: none;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  font-family: monospace;
}