name: docs

on:
    # trigger deployment on every push to main branch
    push:
        branches: [master]
    # trigger deployment manually
    workflow_dispatch:

jobs:
    docs:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  # fetch all commits to get last updated time or other git log info
                  fetch-depth: 0

            - name: Setup pnpm
              uses: pnpm/action-setup@v2
              with:
                  # choose pnpm version to use
                  version: 8
                  # install deps with pnpm
                  run_install: true

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  # choose node.js version to use
                  node-version: 20
                  # cache deps for pnpm
                  cache: pnpm

            # run build script
            - name: Build VuePress site
              run: pnpm docs:build

            # please check out the docs of the workflow for more details
            # @see https://github.com/crazy-max/ghaction-github-pages
            - name: Deploy to GitHub Pages
              uses: crazy-max/ghaction-github-pages@v4
              with:
                  # deploy to gh-pages branch
                  target_branch: gh-pages
                  # deploy the default output dir of VuePress
                  build_dir: docs/.vuepress/dist
              env:
                  # @see https://docs.github.com/en/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
