name: Livewire Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  unit-tests:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    env:
      COMPOSER_NO_INTERACTION: 1

    strategy:
      fail-fast: false
      matrix:
        php: [8.2]
        livewire: [^3, ^4]

    name: Livewire${{ matrix.livewire }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: none
        tools: composer:v2
        extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif

    - name: Install dependencies
      run: |
        composer remove --dev --no-update larastan/larastan phpstan/phpstan-phpunit laravel/pint phpstan/phpstan-strict-rules shipmonk/phpstan-rules
        composer require "livewire/livewire:${{ matrix.livewire }}" --no-interaction --no-update
        composer update --prefer-stable --prefer-dist --no-progress

    - name: Update Dusk Chromedriver
      run: vendor/bin/dusk-updater detect --auto-update

    - name: Execute Unit Tests
      run: composer test

    - name: Upload Failed Screenshots
      uses: actions/upload-artifact@v6
      if: failure()
      with:
        name: screenshots
        path: tests/Browser/screenshots/*
